<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Klinik Sehat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  </head>
  <!-- CSS -->
  <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet" />

  <!-- CSS Icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" />
  <body>
    <!-- Navbar -->
    <header class="navbar navbar-expand-lg navbar-light fixed-top bg-light shadow-lg">
      <div class="container">
        <a class="navbar-brand fw-bold text-primary" href="#">Klinik Sehat</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse text-righ" id="navbarText">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('home')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#ths">Tips Hidup Sehat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#kontak">Kontak Kami</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <!-- End Navbar -->
    <!-- Artikel -->
    <div id="ths" class="container mt-5 pt-5 my-5" style="min-height:100vh">
      <div class="mb-5">
        <div class="row">
          <div class="col">
            <p class="mb-5">
              <a class="text-decoration-none text-dark" href="{{ url_for('artikel') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
                </svg>Kembali ke Halaman Artikel
              </a>
            </p>
            <h1 class="text-center fw-bold judulkategori">Bahaya Narkoba bagi Kesehatan yang Wajib Diketahui</h1>
            <hr class="mx-auto" style="width:10%; background-color: #1E88E5;" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img class="mx-auto d-block" src="../static/obat.jpg" />
            <div class="mt-3">
              <p style="white-space: pre-line;text-align:justify;">
                Orang yang menggunakan dan kecanduan narkoba sering memiliki satu atau lebih masalah kesehatan. Bahaya narkoba bagi kesehatan mencakup penyakit paru-paru, penyakit jantung, stroke, kanker, hingga kondisi kesehatan mental.

                Melalui tes pencitraan, rontgen dada, dan tes darah, dapat diketahui bahwa penggunaan narkoba dalam jangka panjang dapat merusak seluruh tubuh. Contohnya, penyalahgunaan metamfetamim dapat menyebabkan masalah gigi yang parah atau mulut sabut.

                Sementara itu, opioid dapat menyebabkan overdosis dan kematian. Selain itu, beberapa obat seperti inhalansia, dapat merusak sel saraf, baik di otak maupun sistem saraf tepi.

                <u>Bahaya Narkoba Bagi Kesehatan yang Harus Diwaspadai</u>
                Penyalahgunaan narkoba dapat menyebabkan perubahan pada kimia otak. Selanjutnya, zat tersebut diproses melalui banyak sistem tubuh yang berpotensi menyebabkan kerusakan yang lebih luas dan berpotensi permanen.

                Berikut ini beberapa bahaya narkoba bagi kesehatan:

                <strong>1. Kerusakan sistem kekebalan tubuh karena narkoba</strong>
                Jenis narkoba yang disuntikkan secara intravena dapat membawa risiko tinggi pada penularan human imunodefisiensi virus (HIV), hepatitis B dan C, atau infeksi bakteri karena berbagai jarum suntik yang tidak higienis.

                Beberapa obat, seperti kokain, berdampak langsung pada kemampuan sistem kekebalan untuk membuat sel darah putih, yang mengurangi respons kekebalan terhadap infeksi.

                <strong>2. Penyakit kardiovaskular</strong>
                Umumnya, zat yang terkandung pada obat-obatan narkoba dapat menyebabkan detak jantung tidak teratur. Obat stimulan seperti kokain atau metamfetamin, dapat menyebabkan kematian akibat overdosis akibat serangan jantung. Orang yang menyalahgunakan narkoba berisiko lebih tinggi mengalami kondisi tersebut.

                <strong>3. Narkoba dapat sebabkan masalah gastrointestinal</strong>
                Penggunaan narkotika jenis opioid secara terus-menerus dapat merusak sistem pencernaan. Beberapa masalah pencernaan yang dapat terjadi yaitu sakit perut, gangguan pencernaan, mual, atau muntah.

                Selain itu, penggunaan kokain dan metamfetamin juga dapat menyebabkan beberapa masalah gastrointestinal yang berbahaya. Contohnya, vasospasme arteri mesenterika, yang dapat menyebabkan hilangnya suplai darah antara jantung dan sistem gastrointestinal.

                Kondisi tersebut juga dapat menyebabkan kolitis iskemik. Pada kasus yang parah dapat terjadi kematian jaringan usus, yaitu nekrosis usus.

                <strong>4. Masalah pernapasan jadi bahaya narkoba</strong>
                Menggunakan narkoba yang dikonsumsi dengan cara dihisap dapat merusak alveoli di paru-paru. Ini membuat sistem pernapasan bagian atas lebih rentan terhadap infeksi. Misalnya opioid, dapat memperlambat pernapasan atau membuat pernapasan menjadi dangkal atau tidak teratur.

                Jika seseorang mengalami overdosis opioid atau jenis narkotika lainnya, maka dapat terjadi hipoksia yang menyebabkan kematian. Orang yang kecanduan narkoba dalam waktu lama juga dapat mengalami kekurangan oksigen, yang menyebabkan kerusakan pada sistem organ lainnya.

                <strong>5. Narkoba dapat sebabkan kerusakan hati</strong>
                Perlu kamu pahami, hati terlibat dalam proses metabolisme. Selain itu, hati juga merupakan tempat utama detoksifikasi untuk berbagai jenis zat yang dikonsumsi.

                Bayangkan, jika hati terus-menerus menghadapi kandungan yang ada dalam narkotika, ia bisa menjadi kewalahan dalam tugas metaboliknya. Selain itu, jaringan organ mulai rusak.

                Selain masalah kesehatan, kamu juga dapat mengetahui 7 Ciri Pengguna Narkoba Dilihat Dari Kondisi Fisiknya.

                <strong>6. Kerusakan ginjal</strong>
                Salah satu tugas ginjal yaitu menyaring racun dari aliran darah, sehingga ia dapat dipengaruhi oleh banyak zat berbahaya di dalam darah. Beberapa narkotika juga dikaitkan dengan kondisi yang dikenal sebagai rhabdomyolysis, yang merupakan kerusakan jaringan otot yang membanjiri darah dengan kadar racun dari isi sel otot.

                Hal tersebut termasuk protein yang dikenal sebagai mioglobin. Akibatnya, ginjal jadi kewalahan dan tidak mampu menyaring racun secara efisien.

                Kondisi di atas dapat mengakibatkan kerusakan ginjal yang progresif, yang berpotensi menjadi gagal ginjal yang memerlukan dialisis. Selain itu, zat aditif dalam beberapa obat terlarang juga dapat menyumbat pembuluh darah kecil yang memasok darah ke ginjal setelah disuntikkan. Hal tersebut dapat mengakibatkan kerusakan pada ginjal.

                <strong>7. Masalah kesehatan neurologis karena narkoba</strong>
                Ketika seseorang melakukan penyalahgunaan narkoba dalam waktu lama, maka otak akan beradaptasi. Dengan begitu, terjadi perubahan dalam kimia otak yang disertai dengan ketergantungan fisik terhadap zat pada narkoba.

                Selain ketergantungan fisik, penggunaan zat adiktif secara konsisten pada akhirnya dapat menyebabkan kecanduan dan gangguan otak. Saat kecanduan berkembang, bagian otak yang terlibat dengan beberapa fungsi penting dapat mengalami perubahan.

                Obat-obatan tersebut dapat mengurangi sinyal rangsang otak. Namun pada dosis yang cukup tinggi, penggunaan narkoba dalam waktu lama dapat menyebabkan masalah gerakan, gangguan kognitif, dan kehilangan memori.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer id="kontak" class="text-light bg-secondary pt-5 pb-4" style=".bg-secondary.bg-gradient">
      <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-light">Alamat</h5>
            <p>
              <i class="bi bi-house me-2"></i> Jl. Karang Pucung, Keputih, Kec. Purwokerto Selatan, Jawa Tengah
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-light">Contact</h5>
            <p>
              <a href="#" class="text-light text-decoration-none"><i class="bi bi-whatsapp"></i> Chat Now</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-light">Social Media</h5>
            <p>
              <a href="https://www.facebook.com/" class="text-light text-decoration-none"><i class="bi bi-facebook"></i> Facebook</a>
            </p>
            <p>
              <a href="https://www.instagram.com/" class="text-light text-decoration-none"><i class="bi bi-instagram"></i> Instagram</a>
            </p>
            <p>
              <a href="https://www.youtube.com/" class="text-light text-decoration-none"><i class="bi bi-youtube"></i> Youtube</a>
            </p>
          </div>
        </div>
        <hr class="mb-4" />
        <div class="row align-items-center">
          <div class="col-md-7 col-lg-8">
            <img src="../static/footer.png" style="width: 30%;" alt="" />
            <p class="text-center text-md-left mt-3">Copyright © by Kelompok 1 Learning X</p>
          </div>
          <div class="col-md-5 col-lg-4">
            <div class="text-center text-md-right">
              <a href="#" class="text-light text-decoration-none back-to-top"><i class="bi bi-arrow-up"></i> Back to top</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
