<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Klinik Sehat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  </head>
  <!-- CSS -->
  <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet" />

  <!-- CSS Icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" />
  <body>
    <!-- Navbar -->
    <header class="navbar navbar-expand-lg navbar-light fixed-top bg-light shadow-lg">
      <div class="container">
        <a class="navbar-brand fw-bold text-primary" href="#">Klinik Sehat</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse text-righ" id="navbarText">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('home')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#ths">Tips Hidup Sehat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#kontak">Kontak Kami</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <!-- End Navbar -->
    <div id="ths" class="container mt-5 pt-5 my-5" style="min-height:100vh">
      <div class="mb-5">
        <div class="row">
          <div class="col">
            <p class="mb-5">
              <a class="text-decoration-none text-dark" href="{{ url_for('artikel') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
                </svg>Kembali ke Halaman Artikel
              </a>
            </p>
            <h1 class="text-center fw-bold judulkategori">Cuaca Panas, Ini 6 Cara Mencegah Dehidrasi pada Tubuh</h1>
            <hr class="mx-auto" style="width:10%; background-color: #1E88E5;" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img class="mx-auto d-block" src="../static/sun.jpg" />
            <div class="mt-3">
              <p style="white-space: pre-line;text-align:justify;">
                Dehidrasi menjadi satu kondisi yang rentan terjadi di tengah cuaca panas dan ekstrem saat ini. Mencegah dehidrasi sangat penting untuk kesehatan tubuh.

                Setiap harinya, kita kehilangan air melalui fungsi alami tubuh. Karenanya, penting untuk dapat mengoptimalkan kebutuhan cairan di dalam tubuh terlebih jika cuaca terasa panas. Jika tidak, bisa menyebabkan dehidrasi.

                Kamu dapat membaca artikel mengenai Kapan Dehidrasi Perlu Mendapatkan Pertolongan Dokter? sebagai upaya untuk mengetahui langkah penanganan yang tepat dan bijak.

                Strategi Untuk Mencegah Dehidrasi Berikut ini beberapa cara untuk mencegah dehidrasi terutama saat cuaca panas.

                <strong>1. Minum saat merasa haus</strong>
                Jika tubuh sudah merasa kehausan segeralah untuk minum air putih. Untuk mengantisipasinya, bawalah botor air saat bepergian. Hal tersebut dapat mengatasi rasa haus yang menyerang, terutama ketika cuaca panas.

                Cuaca yang panas juga merupakan tanda bahwa tubuh membutuhkan asupan cairan yang lebih. Kebutuhan air dapat menyesuaikan dengan massa tubuh dan seberapa banyak berkeringat.

                <strong>2. Penuhi kecukupan air</strong>
                Optimalkan kecukupan cairan tubuh dengan rutin mengonsumsi air putih. Kecukupan kebutuhan air bergantung pada beberapa hal seperti usia, jenis kelamin dan tingkat usia. Umumnya, laki-laki memiliki kebutuhan cairan yang lebih tinggi daripada perempuan.

                <strong>3. Konsumsi buah dan sayuran secara rutin</strong>
                Dengan mengonsumsi beragam buah-buahan dan sayuran dapat membantu mencegah dehidrasi. Sayuran dan buah memiliki kandungan air yang tinggi.

                Di antaranya seperti melon, stroberi, dan semangka mengandung 90 hingga 99 persen air, sedangkan apel, anggur, jeruk, dan nanas mengandung antara 80 dan 89 persen air.

                <strong>4. Minum air saat bangun tidur</strong>
                Ketika bangun pagi, cobalah untuk rutin minum segelas air. Untuk membiasakannya, sebelum tidur malam sediakan segelas air disamping tempat tidur.

                Selain itu, selalu cukupkan kebutuhan air setiap hari. Tak lupa, sesuaikan dengan tingkat aktivitas fisik yang kamu lakukan, ya!

                <strong>5. Buat rasa air lebih enak</strong>
                Jika kamu tidak menyukai rasa hambar air, kamu dapat mencari alternatif lain, seperti dengan menambah perasaan lemon atau jeruk nipis kedalam botol minuman air, bisa juga dengan mengonsumsi jus sayur dan buah tanpa pemanis dan soda, serta dengan minum teh ginseng.

                <strong>6. Tetap di dalam ruangan saat cuaca terlalu panas</strong>
                Jika kamu terpapar sinar matahari secara berlebihan, maka tubuh akan kehilangan kandungan air dan garam tubuh yang penting, seperti natrium dan kalium. Dalam kasus yang parah, ini dapat menyebabkan sengatan panas.

                Tetaplah berada di dalam ruangan saat cuaca terlalu panas jika kebutuhan tidak mendesak dan hindari kopi, soda, teh berkafein, dan alkohol, karena minuman ini dapat menyebabkan dehidrasi.

                Itulah beberapa cara untuk mencegah terjadinya dehidrasi terutama saat cuaca panas. Dengan begitu aktivitas kamu dapat berjalan lancar meskipun di bawah cuaca panas.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer id="kontak" class="text-light bg-secondary pt-5 pb-4" style=".bg-secondary.bg-gradient">
      <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-light">Alamat</h5>
            <p>
              <i class="bi bi-house me-2"></i> Jl. Karang Pucung, Keputih, Kec. Purwokerto Selatan, Jawa Tengah
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-light">Contact</h5>
            <p>
              <a href="#" class="text-light text-decoration-none"><i class="bi bi-whatsapp"></i> Chat Now</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-light">Social Media</h5>
            <p>
              <a href="https://www.facebook.com/" class="text-light text-decoration-none"><i class="bi bi-facebook"></i> Facebook</a>
            </p>
            <p>
              <a href="https://www.instagram.com/" class="text-light text-decoration-none"><i class="bi bi-instagram"></i> Instagram</a>
            </p>
            <p>
              <a href="https://www.youtube.com/" class="text-light text-decoration-none"><i class="bi bi-youtube"></i> Youtube</a>
            </p>
          </div>
        </div>
        <hr class="mb-4" />
        <div class="row align-items-center">
          <div class="col-md-7 col-lg-8">
            <img src="../static/footer.png" style="width: 30%;" alt="" />
            <p class="text-center text-md-left mt-3">Copyright © by Kelompok 1 Learning X</p>
          </div>
          <div class="col-md-5 col-lg-4">
            <div class="text-center text-md-right">
              <a href="#" class="text-light text-decoration-none back-to-top"><i class="bi bi-arrow-up"></i> Back to top</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
