<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Klinik Sehat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  </head>
  <!-- CSS -->
  <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet" />

  <!-- CSS Icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" />
  <body>
    <!-- Navbar -->
    <header class="navbar navbar-expand-lg navbar-light fixed-top bg-light shadow-lg">
      <div class="container">
        <a class="navbar-brand fw-bold text-primary" href="#">Klinik Sehat</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse text-righ" id="navbarText">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('artikel') }}">Tips Hidup Sehat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#kontak">Kontak Kami</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <!-- End Navbar -->

    <!-- Jumbotron -->
    <section class="hero-home3 bg-light d-flex align-items-center justify-content-center position-relative">
      <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Selamat datang di <span class="text-primary">Klinik Sehat</span></h1>
      </div>
      <div class="overlay"></div>
    </section>
    <!-- Dasboard -->
    <section class="dashboard py-5">
      <div class="container">
        <h2 class="text-center mb-4">Cek Dokter</h2>

        <!-- Loop through doctors -->
        {% for doctor in doctors %}
          <div class="card mb-4">
            <div class="card-body">
              <p class="card-text">Nama: {{ doctor.nama }}</p>
              <p class="card-text">Jadwal: {{ format_schedule(doctor.jadwal) }}</p>
              <p class="card-text">Spesialis: {{ doctor.spesialis }}</p>
              <p class="card-text">Alamat: {{ doctor.alamat }}</p>
              <p class="card-text">Nomor Telepon: {{ doctor.nomor_telepon }}</p>

              <!-- Check if the doctor has a queue -->
              {% if doctor.antrian %}
                <p class="card-text">Jumlah Antrian: {{ doctor.antrian }}</p>
                <a href="{{ url_for('ambil_antrian', dokter = doctor._id) }}" class="btn btn-primary">Ambil Antrian</a>
              {% else %}
                <p class="card-text">Tidak Ada Antrian</p>
                <a href="{{ url_for('ambil_antrian', dokter = doctor._id) }}" class="btn btn-primary">Ambil Antrian</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
    <!-- End Dashboard -->

    <!-- Footer -->
    <footer id="kontak" class="text-light bg-secondary pt-5 pb-4" style=".bg-secondary.bg-gradient">
      <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-light">Alamat</h5>
            <p>
              <i class="bi bi-house me-2"></i> Jl. Karang Pucung, Keputih, Kec. Purwokerto Selatan, Jawa Tengah
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-light">Contact</h5>
            <p>
              <a href="#" class="text-light text-decoration-none"><i class="bi bi-whatsapp"></i> Chat Now</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-light">Social Media</h5>
            <p>
              <a href="https://www.facebook.com/" class="text-light text-decoration-none"><i class="bi bi-facebook"></i> Facebook</a>
            </p>
            <p>
              <a href="https://www.instagram.com/" class="text-light text-decoration-none"><i class="bi bi-instagram"></i> Instagram</a>
            </p>
            <p>
              <a href="https://www.youtube.com/" class="text-light text-decoration-none"><i class="bi bi-youtube"></i> Youtube</a>
            </p>
          </div>
        </div>
        <hr class="mb-4" />
        <div class="row align-items-center">
          <div class="col-md-7 col-lg-8">
            <img src="../static/footer.png" style="width: 30%;" alt="" />
            <p class="text-center text-md-left mt-3">Copyright © by Kelompok 1 Learning X</p>
          </div>
          <div class="col-md-5 col-lg-4">
            <div class="text-center text-md-right">
              <a href="#" class="text-light text-decoration-none back-to-top"><i class="bi bi-arrow-up"></i> Back to top</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
